{% extends 'intro/basic.html' %}
{% block title %} Database name {% endblock %}
{% block body %}
{% load static %}
<!-- content page -->
<section class="bgwhite p-t-66 p-b-38">
    <div class="container">
        <div class="row">
            <div class="col-md-4 p-b-30">
                <div class="hov-img-zoom">
                    <img src="{{course.image.url}}" alt="IMG-ABOUT">
                </div>
            </div>
            <div class="col-md-8 p-b-30">
                <h3 class="m-text26 p-t-15 p-b-16">
                    {{course.subject}}
                </h3>
                <p class="p-b-28">
                    {{course.desc}}
                </p>
                <div class="bo13 p-l-29 m-l-9 p-b-10 mb-5">
                    <p class="p-b-11">
                        intro on the Go – Install intro Festo App Today! You can intro for your favourite products at intro Festo even on the go using intro Festo App. Available for both Android and Apple users, the app can be downloaded from Google Play Store and Apple App Store respectively.
                    </p>
                    <span class="s-text5">
                        - Steve Job’s
                    </span>
                </div>
                <div class="size9">
                    <!-- Button -->
                    <a href="/courses/computer_science/c/tutorials"><button class="my-3 flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4">
                        Tutorials
                    </button></a>
                    <a href="/courses/computer_science/c/examples"><button class="m-3 flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4">
                        Examples
                    </button></a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block js %}
<script type="text/javascript" src="{%static 'intro/js/basic_cart.js' %}"></script>
<script>
$('#pop_dropdown').hide();
</script>
{% endblock %}