<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %} {% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{%static 'intro/images/icons/favicon.png' %}" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{%static 'intro/vendor/bootstrap/css/bootstrap.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{%static 'intro/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{%static 'intro/fonts/themify/themify-icons.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{%static 'intro/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{%static 'intro/fonts/elegant-font/html-css/style.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{%static 'intro/vendor/animate/animate.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{%static 'intro/vendor/css-hamburgers/hamburgers.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{%static 'intro/vendor/animsition/css/animsition.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{%static 'intro/vendor/select2/select2.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{%static 'intro/vendor/daterangepicker/daterangepicker.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{%static 'intro/vendor/slick/slick.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{%static 'intro/vendor/lightbox2/css/lightbox.min.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{%static 'intro/css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{%static 'intro/css/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <style>
        .wrap_header {
        background-color: #28a745;
    }
    .main_menu > li > a {
        font-size: 18px;
        color: #ffffff;
        font-weight: bold;
    }
    .main_menu > li:hover > a {
        font-size: 20px;
        color: #e65540;
        text-decoration: None;
    }
    .topbar-email, .topbar-child1 {
        color: #010101;
    }
    .bg6 {
        background-color: #262626;
    }
    .s-text7, .s-text8, .s-text8 a {
        color: #fff;
    }
    .s-text12 {
        color: #fff;
    }
    .header-cart-item-name {
        display: ruby;
    }
    .num {
        margin-right: 10px;
        font-size: 20px;
        color: red;
    }
    .logo {
        color: #fff;
    }
    .logo:hover {
        color: #e65540;
    }
    .login_btn {
        width: 100%;
        background: #c0392b !important;
        color: white !important;
    }
    .login_btn:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }
    .input-group-text {
        background: #28a745!important;
        color: white !important;
        border: 0 !important;
        border-radius: 0.25rem 0 0 0.25rem !important;
    }
    .input_user,
    .input_pass:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }
    .search:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }
    .wrap_header_mobile {
        background-color: #28a745;
    }
    .logo-mobile {
        color: #fff;
    }
    .side-menu .main-menu > li > a {
        padding-left: 0px;
    }
    .side-menu .main-menu > li > a:hover {
        color: #e65540;
        font-size: 20px;
    }
    .item-menu-mobile {
        background-color: #28a745;
    }
</style>
    <!-- Internal Css -->
    {% block css %} {% endblock %}
    <!--===============================================================================================-->
</head>

<body class="animsition">
    <!-- Header -->
    <header class="header1">
        <!-- Header desktop -->
        <div class="container-menu-header">
            <div class="topbar">
                <div class="topbar-social">
                    <a href="#" class="topbar-social-item fab fa-facebook-f"></a>
                    <a href="#" class="topbar-social-item fab fa-instagram"></a>
                    <a href="#" class="topbar-social-item fab fa-pinterest-p"></a>
                    <a href="#" class="topbar-social-item fab fa-snapchat-ghost"></a>
                    <a href="#" class="topbar-social-item fab fa-youtube"></a>
                    <a href="#" class="topbar-social-item fab fa-github"></a>
                </div>
                <span class="topbar-child1">
                    India's First Popular Online Shopping Site
                </span>
                <div class="topbar-child2">
                    <a href="#" class="topbar-email mx-5">
                        <h6>Help</h6>
                    </a>
                    <span class="topbar-email">
                        shop_festo@email.com
                    </span>
                </div>
            </div>
            <div class="wrap_header">
                <!-- Logo -->
                <a href="/" class="logo">
                    <!-- Logo Image -->
                    <!-- <img src="images/icons/logo.png" alt="IMG-LOGO"> -->
                    <h2><b style="font-family: Montserrat-Regular !important">CypherX</b></h2>
                </a>
                <!-- Menu -->
                <div class="wrap_menu">
                    <nav class="menu">
                        <ul class="main_menu">
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li class="sale-noti">
                                <a href="/courses">Courses</a>
                                <ul class="sub_menu">
                                    {% for i in cats %}
                                    <li><a href="/courses/{{i}}">{{i}}</a>
                                        <ul class="sub_menu">
                                            <li><a href="/courses/{{i}}/C">C</a>
                                                <ul class="sub_menu">
                                                    <li><a href="/courses/computer_science/c/tutorials">Tutorials</a></li>
                                                    <li><a href="/courses/computer_science/c/examples">Examples</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="/courses/{{i}}/C++">C++</a>
                                                <ul class="sub_menu">
                                                    <li><a href="/courses/computer_science/cpp/tutorials">Tutorials</a></li>
                                                    <li><a href="/courses/computer_science/cpp/examples">Examples</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="/courses/{{i}}/Java">JAVA</a>
                                                <ul class="sub_menu">
                                                    <li><a href="/courses/computer_science/java/tutorials">Tutorials</a></li>
                                                    <li><a href="/courses/computer_science/java/examples">Examples</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="/courses/{{i}}/Python">PYTHON</a>
                                                <ul class="sub_menu">
                                                    <li><a href="/courses/computer_science/python/tutorials">Tutorials</a></li>
                                                    <li><a href="/courses/computer_science/python/examples">Examples</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="/courses/{{i}}/Vb.net">VB.NET</a>
                                                <ul class="sub_menu">
                                                    <li><a href="/courses/computer_science/vb.net/tutorials">Tutorials</a></li>
                                                    <li><a href="/courses/computer_science/vb.net/examples">Examples</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="/courses/{{i}}/C_sharp">C#</a>
                                                <ul class="sub_menu">
                                                    <li><a href="/courses/computer_science/c#/tutorials">Tutorials</a></li>
                                                    <li><a href="/courses/computer_science/c#/examples">Examples</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="/courses/{{i}}/Asp.net">ASP.NET</a>
                                                <ul class="sub_menu">
                                                    <li><a href="/courses/computer_science/asp.net/tutorials">Tutorials</a></li>
                                                    <li><a href="/courses/computer_science/asp.net/examples">Examples</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="/courses/{{i}}/Oracle">ORACLE</a>
                                                <ul class="sub_menu">
                                                    <li><a href="/courses/computer_science/oracle/tutorials">Tutorials</a></li>
                                                    <li><a href="/courses/computer_science/oracle/examples">Examples</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li>
                                <a href="/shop/tracker">Quiz</a>
                            </li>
                            <li>
                                <a href="/shop/about">About Us</a>
                            </li>
                            <li>
                                <a href="/intro/contact">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- Header Icon -->
                <div class="header-icons">
                    <!-- <a href="#" class="header-wrapicon1 dis-block">
                        <a href="#"><h3><span class="header-icon1 js-show-header-dropdown"><i class="fas fa-search mx-5" style="color: #fff"></i></span></h3></a>
                    </a> -->
                    <div class="header-wrapicon2 mx-2">
                        <span id="search_btn" class="header-icon1 js-show-header-dropdown" alt="ICON">
                            <h3><i class="fas fa-search" style="color: #fff"></i></h3>
                        </span>
                        <!-- <h3><i class="fab fa-opencart header-icon1 js-show-header-dropdown" style="color: #fff"></i></h3> -->
                        <!-- Header cart noti -->
                        <div class="header-cart header-dropdown">
                            <div class="col-md-12 ">
                                <form method="get" action="/shop/search/" class="navbar-form navbar-right" role="search">
                                    <div class="input-group">
                                        <input type="text" class="form-control search" placeholder="Search" name="search" id="search">
                                        <div class="input-group-btn">
                                            <button class="btn btn-success" type="submit"><i class="fas fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <span class="linedivide1"></span>
                    {% if user.is_authenticated %}
                    <div class="header-wrapicon2 mx-3">
                        <span class="header-icon1 js-show-header-dropdown" alt="ICON">
                            <h5 class="" style="color: #fff">Hello {{user.first_name}}</h5>
                        </span>
                        <!-- <h3><i class="fab fa-opencart header-icon1 js-show-header-dropdown" style="color: #fff"></i></h3> -->
                        <!-- Header cart noti -->
                        <div class="header-cart header-dropdown">
                            <div class="col-md-12 ">
                                <b>Welcome</b>
                                <h4>{{user.first_name}} {{user.last_name}}</h4>
                                <hr>
                                <b>Your Email</b>
                                <h6>{{user.email}}</h6>
                                <div class="header-cart-buttons mt-4">
                                    <div class="header-cart-wrapbtn">
                                        <!-- Button -->
                                        <a href="#"><button class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                                                Logout
                                            </button></a>
                                    </div>
                                    <div class="header-cart-wrapbtn">
                                        <!-- Button -->
                                        <a href="/shop/profile"><button class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                                                Profile
                                            </button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <li class="nav-item">
                        <div class="nav-link" style="color: red">Hello {{user.first_name}}</div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/account/logout">Logout</a>
                    </li> -->
                    {% else %}
                    <div class="header-wrapicon2 mx-2">
                        <span class="header-icon1 js-show-header-dropdown" alt="ICON">
                            <h3><i class="fas fa-user" style="color: #fff"></i></h3>
                        </span>
                        <!-- <h3><i class="fab fa-opencart header-icon1 js-show-header-dropdown" style="color: #fff"></i></h3> -->
                        <!-- Header cart noti -->
                        <div class="header-cart header-dropdown">
                            <div class="col-md-12 ">
                                <div class="user_card">
                                    <div class="d-flex justify-content-center form_container">
                                        <form method="post" action="/account/login/">{% csrf_token %}
                                            <!-- <div class="justify-content-center float-center">Sign In</div> -->
                                            <div class="input-group mb-3">
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                                </div>
                                                <input type="text" name="username" id="username" class="form-control input_user" required="required" placeholder="username">{%if error == "userpass"%}<span class="text-danger">{{msg}}</span>{% endif %}
                                            </div>
                                            <div class="input-group mb-2">
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                                </div>
                                                <input type="password" name="password" class="form-control input_pass" id="password" required="required" placeholder="password">{%if error == "password"%}<span class="text-danger">{{msg}}</span>{% endif %}
                                            </div>
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="customControlInline">
                                                    <label class="custom-control-label" for="customControlInline">Remember me</label>
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-center mt-3 login_container">
                                                <button type="submit" class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 py-2 my-2 cart">Sign In</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="mt-4">
                                        <div class="d-flex justify-content-center links">
                                            Don't have an account? <a href="" class="ml-2">Sign Up</a>
                                        </div>
                                        <div class="d-flex justify-content-center links">
                                            <a href="#">Forgot your password?</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- Header Mobile -->
        <div class="wrap_header_mobile float-center">
            <!-- Logo moblie -->
            <a href="/shop" class="logo-mobile">
                <h4><b>CypherX</b></h4>
            </a>
            <!-- Button show menu -->
            <div class="btn-show-menu">
                <!-- Header Icon mobile -->
                <div class="header-icons-mobile">
                    <!-- Search Icon -->
                    <div class="header-wrapicon2 mr-3">
                        <span id="search_btn_mobile" class="header-icon1 js-show-header-dropdown" alt="ICON">
                            <h4><i class="fas fa-search" style="color: #fff"></i></h4>
                        </span>
                        <div class="header-cart header-dropdown">
                            <div class="col-md-12 ">
                                <form method="get" action="/shop/search/" class="navbar-form navbar-right" role="search">
                                    <div class="input-group">
                                        <input type="text" class="form-control search" placeholder="Search" name="search" id="search_mobile">
                                        <div class="input-group-btn">
                                            <button class="btn btn-danger" type="submit"><i class="fas fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <span class="linedivide2"></span>
                    {% if user.is_authenticated %}
                    <div class="header-wrapicon2 mx-3">
                        <span class="header-icon1 js-show-header-dropdown" alt="ICON">
                            <h5 class="" style="color: #fff">Hello {{user.first_name}}</h5>
                        </span>
                        <!-- <h3><i class="fab fa-opencart header-icon1 js-show-header-dropdown" style="color: #fff"></i></h3> -->
                        <!-- Header cart noti -->
                        <div class="header-cart header-dropdown">
                            <div class="col-md-12 ">
                                <b>Welcome</b>
                                <h4>{{user.first_name}} {{user.last_name}}</h4>
                                <hr>
                                <b>Your Email</b>
                                <h6>{{user.email}}</h6>
                                <div class="header-cart-buttons mt-4">
                                    <div class="header-cart-wrapbtn">
                                        <!-- Button -->
                                        <a href=""><button class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                                                Logout
                                            </button></a>
                                    </div>
                                    <div class="header-cart-wrapbtn">
                                        <!-- Button -->
                                        <a href="/shop/profile"><button class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                                                Profile
                                            </button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <li class="nav-item">
                        <div class="nav-link" style="color: red">Hello {{user.first_name}}</div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/account/logout">Logout</a>
                    </li> -->
                    {% else %}
                    <div class="header-wrapicon2 mx-2">
                        <span class="header-icon1 js-show-header-dropdown" alt="ICON">
                            <h3><i class="fas fa-user" style="color: #fff"></i></h3>
                        </span>
                        <!-- <h3><i class="fab fa-opencart header-icon1 js-show-header-dropdown" style="color: #fff"></i></h3> -->
                        <!-- Header cart noti -->
                        <div class="header-cart header-dropdown">
                            <div class="col-md-12 ">
                                <div class="user_card">
                                    <div class="d-flex justify-content-center form_container">
                                        <form method="post" action="/account/login/">{% csrf_token %}
                                            <!-- <div class="justify-content-center float-center">Sign In</div> -->
                                            <div class="input-group mb-3">
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                                </div>
                                                <input type="text" name="username" id="username" class="form-control input_user" required="required" placeholder="username">{%if error == "userpass"%}<span class="text-danger">{{msg}}</span>{% endif %}
                                            </div>
                                            <div class="input-group mb-2">
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                                </div>
                                                <input type="password" name="password" class="form-control input_pass" id="password" required="required" placeholder="password">{%if error == "password"%}<span class="text-danger">{{msg}}</span>{% endif %}
                                            </div>
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="customControlInline">
                                                    <label class="custom-control-label" for="customControlInline">Remember me</label>
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-center mt-3 login_container">
                                                <button type="submit" class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 py-2 my-2 cart">Sign In</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="mt-4">
                                        <div class="d-flex justify-content-center links">
                                            Don't have an account? <a href="" class="ml-2">Sign Up</a>
                                        </div>
                                        <div class="d-flex justify-content-center links">
                                            <a href="#">Forgot your password?</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="btn-show-menu-mobile hamburger hamburger--squeeze" style="color: #fff; padding: 10px">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </div>
            </div>
        </div>
        <!-- Menu Mobile -->
        <div class="wrap-side-menu">
            <nav class="side-menu" style="text-align: center;" aria-expanded="true">
                <ul class="main-menu">
                    <li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
                        <span class="topbar-child1">
                            Heading line
                        </span>
                    </li>
                    <li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
                        <span class="topbar-child1">
                            <h6>Help</h6>
                        </span>
                    </li>
                    <!-- <li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
                        
                    </li> -->
                    <li class="item-topbar-mobile p-l-10">
                        <div class="topbar-social-mobile">
                            <a href="#" class="topbar-social-item fab fa-facebook"></a>
                            <a href="#" class="topbar-social-item fab fa-instagram"></a>
                            <a href="#" class="topbar-social-item fab fa-pinterest-p"></a>
                            <a href="#" class="topbar-social-item fab fa-snapchat-ghost"></a>
                            <a href="#" class="topbar-social-item fab fa-youtube"></a>
                            <a href="#" class="topbar-social-item fab fa-github"></a>
                        </div>
                    </li>
                    <li class="item-menu-mobile">
                        <a href="index.html">Home</a>
                    </li>
                    <li class="item-menu-mobile">
                        <a href="product.html">Cources</a>
                        <ul class="sub-menu">
                            <li><a href="">Computer Science</a></li>
                            <li><a href="">Fine Arts</a></li>
                            <li><a href="">Mass Media</a></li>
                            <li><a href="">Hotel Managements</a></li>
                        </ul>
                        <i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i>
                    </li>
                    <li class="item-menu-mobile">
                        <a href="product.html">Quiz</a>
                    </li>
                    <li class="item-menu-mobile">
                        <a href="cart.html">About Us</a>
                    </li>
                    <li class="item-menu-mobile">
                        <a href="blog.html">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    {% block body%} {%endblock%}
    <footer class="bg6 p-t-45 p-b-43 p-l-45 p-r-45">
        <div class="flex-w p-b-90">
            <div class="w-size6 p-t-30 p-l-15 p-r-15 respon3">
                <h4 class="s-text12 p-b-30">
                    CypherX
                </h4>
                <div>
                    <p class="s-text7 w-size27">
                        Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or call us on (+1) 96 716 6879
                    </p>
                    <div class="flex-m p-t-30">
                        <a href="#" class="fs-18 color1 p-r-20 fab fa-facebook"></a>
                        <a href="#" class="fs-18 color1 p-r-20 fab fa-instagram"></a>
                        <a href="#" class="fs-18 color1 p-r-20 fab fa-pinterest-p"></a>
                        <a href="#" class="fs-18 color1 p-r-20 fab fa-snapchat-ghost"></a>
                        <a href="#" class="fs-18 color1 p-r-20 fab fa-youtube"></a>
                        <a href="#" class="fs-18 color1 p-r-20 fab fa-github"></a>
                    </div>
                </div>
            </div>
            <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
                <h4 class="s-text12 p-b-30">
                    Tutorials
                </h4>
                <ul>
                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Python Tutorials
                        </a>
                    </li>
                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            C Tutorials
                        </a>
                    </li>
                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Java Tutorials
                        </a>
                    </li>
                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Kotlin Tutorials
                        </a>
                    </li>
                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            C++ Tutorials
                        </a>
                    </li>
                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Swift Tutorials
                        </a>
                    </li>
                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            R Tutorials
                        </a>
                    </li>
                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Algorithms Tutorials
                        </a>
                    </li>
                </ul>
            </div>
            <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
                <h4 class="s-text12 p-b-30">
                    Examples
                </h4>
                <ul>
                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Python Examples
                        </a>
                    </li>
                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            C Examples
                        </a>
                    </li>
                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Java Examples
                        </a>
                    </li>
                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Kotlin Examples
                        </a>
                    </li>
                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            C++ Examples
                        </a>
                    </li>
                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            R Examples
                        </a>
                    </li>
                </ul>
            </div>
            <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
                <h4 class="s-text12 p-b-30">
                    Company
                </h4>
                <ul>
                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Developer
                        </a>
                    </li>
                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Programer
                        </a>
                    </li>
                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Adverting
                        </a>
                    </li>
                </ul>
            </div>
            <div class="w-size8 p-t-30 p-l-15 p-r-15 respon3">
                <h4 class="s-text12 p-b-30">
                    Newsletter
                </h4>
                <form>
                    <div class="effect1 w-size9">
                        <input class="s-text7 bg6 w-full p-b-5" type="text" name="email" placeholder="email@example.com">
                        <span class="effect1-line"></span>
                    </div>
                    <div class="w-size2 p-t-20">
                        <!-- Button -->
                        <button class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4">
                            Subscribe
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="t-center p-l-15 p-r-15">
            <div class="t-center s-text8 p-t-20">
                Copyright © 2019 All rights reserved. | This template is made with <i class="fas fa-heart" aria-hidden="true"></i> by <a href="https://cypherx.com" target="_blank">CypherX</a>
            </div>
        </div>
    </footer>
    <!-- Back to top -->
    <div class="btn-back-to-top bg0-hov" id="myBtn">
        <span class="symbol-btn-back-to-top">
            <i class="fa fa-angle-double-up" aria-hidden="true" style="color: #fff"></i>
        </span>
    </div>
    <!-- Container Selection1 -->
    <div id="dropDownSelect1"></div>
    <!--===============================================================================================-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="{%static 'intro/vendor/animsition/js/animsition.min.js' %}"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="{%static 'intro/vendor/bootstrap/js/popper.js' %}"></script>
    <script type="text/javascript" src="{%static 'intro/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="{%static 'intro/vendor/select2/select2.min.js' %}"></script>
    <script type="text/javascript">
    $(".selection-1").select2({
        minimumResultsForSearch: 20,
        dropdownParent: $('#dropDownSelect1')
    });
    </script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="{%static 'intro/vendor/slick/slick.min.js' %}"></script>
    <script type="text/javascript" src="{%static 'intro/js/slick-custom.js' %}"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="{%static 'intro/vendor/countdowntime/countdowntime.js' %}"></script>
    <!--  Recaptcha-->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="{%static 'intro/vendor/lightbox2/js/lightbox.min.js' %}"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="{%static 'intro/vendor/sweetalert/sweetalert.min.js' %}"></script>
    <script type="text/javascript">
    $('#search_btn').click(function() {
        $('#search').focus();
    });
    $('#search_btn_mobile').click(function() {
        $('#search_mobile').focus();
    });
    </script>
    <script type="text/javascript" src="{%static 'intro/js/main.js' %}"></script>
    {% block js %}
    {% endblock %}
</body>

</html>